<html lang="en">
  <head>
  <script>
		$(document).ready(function () {
		  $('.slider').slider({full_width: true});
		});
		$(document).ready(function(){
		  $(".button-collapse").sideNav();
		  $('.collapsible').collapsible();
		});
	</script>
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
  <body>
		<div class="slider">
	    <ul class="slides">
		    <li>
			    <img src="<%= asset_path('icpc-logo.png') %>" alt="" style="width: 100%; height: 100%;">
			    <div class="caption center-align"></div>
		    </li>
		    <li>
		      <img src="http://lorempixel.com/580/250/nature/2"> 
	        <div class="caption left-align">
	          <h3>Left Aligned Caption</h3>
	          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
	        </div>
		    </li>
	    </ul>
		</div>
		<div>
			<h2>Próximos Contests</h2>
			<table>
        <thead>
          <tr>
              <th data-field="id">Nome</th>
              <th data-field="name">Início</th>
              <th data-field="price">Duração</th>
          </tr>
        </thead>
        <tbody>
	        <% @next_contests.each do |contest| %>
						<tr>
							<td><%= contest.name %></td>
							<td><%= contest.start %></td>
							<td><%= contest.end - contest.start %></td>
							<td>INSCREVER</td>
						</tr>
					<% end %>
        </tbody>
      </table>
				
		</div>
  </body>
</html>